body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #19282f;
}
#etchDevice {
    height: 800px;
    width: 700px;
    background-color: rgb(175, 6, 40);
    box-shadow: 3px 3px 30px black;
    border-style: solid;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
#header {
    font-family: 'Ubuntu', sans-serif;
    color: #D4AF37;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#screen {
    background-color: beige;
    height: 570px;
    width: 570px;
    border-radius: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.cursive {
    font-family: 'Whisper', cursive;
    font-size: 56px;
    padding: 0px 12px;
}
#footer {
    margin-top:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2px;
}
.knob {
    height: 80px;
    width: 80px;
    border-radius: 94px;
    background: linear-gradient(225deg, #bb062b, #9e0524);
    box-shadow:  -6px 6px 12px #970522,
             6px -6px 12px #c8072e;
    margin: 10px 20px;

}
.box {
    flex: 1 1 35px;
    transition: background-color 2s;
}

.black {
    background-color: black;
    transition: background-color 0s;
    
}


#shake {
    font-family: 'Ubuntu', sans-serif;
    color: #D4AF37;
    font-size: 20px;
    border-style: none;
    height: 80px;
    width: 160px;
    border-radius: 20px;
    background: linear-gradient(225deg, #bb062b, #9e0524);
    box-shadow:  -6px 6px 12px #970522,
             6px -6px 12px #c8072e;
    margin: 10px 20px;
    transition: 200ms;
}
#shake:active {
    box-shadow: -2px 2px 4px #970522, 2px -2px 4px #c8072e;
    background: linear-gradient(225deg, hsl(348deg 94% 37%), hsl(348deg 94% 31%));
    font-size: 19px;
}

.shaking {
    animation: shake 2s;
    
}

@keyframes shake {
    0% {transform: translate(2px, 2px) rotate(0deg)}
    40% {transform: translate(2px, -2px) rotate(2deg)}
    50% {transform: translate(-12x, 5px) rotate(-2deg)}
    60% {transform: translate(-6px, 2px) rotate(0deg)}
    70% {transform: translate(6px, 2px) rotate(-2deg)}
    80% {transform: translate(-2px, -2px) rotate(2deg)}
    90% {transform: translate(2px, 4px) rotate(0deg)}
    100% {transform: translate(2px, -4px) rotate(-2deg)}
}